*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.support-nav{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}
.support-icon{
    width: 60px;
    height: auto;
}
.material-symbols-outlined{
    text-align: left;
    cursor: pointer;
    justify-self: center;
    align-items: center;
    padding: 30%;
}
.material-symbols-outlined:hover{
    transform-origin: bottom;
    transform: rotateY('90');
    transform: scaleX(1.1);
}

.support-mainheading img{
    justify-content: center;
    width:156px;
    height: auto;
    margin-top: 5px;
    align-items: center;
    padding-top: 8%;
   
}
