@import url(https://db.onlinewebfonts.com/c/0976a2619014c5855690b7509fab4c6e?family=Helvetica+Now+Display);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b0b0b;
    
}

main{
    padding: 80px;
}
.download-rdr-main{
    display: flex;
    width: 100%;
    height: 747px;
    background: #000000;
    overflow:hidden;
    margin: 0 0 160px 0;
    border-radius: 10px;
    justify-content: center;
}

.download-rdr-img{
    display: block;
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
.download-rdr-text{
    width: 600px;
    height: 486px;
    display: grid;
    padding-top: 60px;
    font-family: "Helvetica Now Display", sans-serif;
    padding-right: 50px;
    
}
.download-rdr-text h2{
    display: block;
    width:644px;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 0.5rem;
    line-height: 60px;
    color: #ffffff;
}
.download-rdr-text p{
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #e8e8e8;
    height: 352px;
    width: 600px;
}
.download-rdr-text button{
    line-height: 20px;
    width: 283px;
    height: 61px;
    padding: 20x 60px;
    background-color: transparent;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 2rem;
    transition: all 0.2s ease 0s;
}

.download-rdr-text button:hover{
    background-color: #FCAF17;
    color: #000000;
    border: none;
    
}
section{
    display: block;
}
.feature-img img{
    width: 359px;
    height: 172px;
    border-radius: 10px;
}

.download-feature{
    width: 1528px;
    height: 235px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.feature-text{
    display: block;
    color: white;
    font-family: "Helvetica Now Display", sans-serif;
    height: 22px;
    width: 359px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 10px;
}

.feature{
    color: #ffffff;
    font-family: "Helvetica Now Display", sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
    height: 39px;
    width: 1528px;
}

.download-games{
    width: 1528px;
    height: 516px;
    margin-top: 70px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.games-img img{
    height: 443px;
    width: 359px;
    border-radius: 10px;
}
.games{
    display: grid;
    color: #ffffff;
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 30px;
    height: 39px;
    width: 1528px;
    padding-top: 100px;   
}

.games-selector select{
    width: 359px;
    height: 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff underfiend;
    background-color: #0b0b0b;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Helvetica Now Display", sans-serif;
    outline: none;
}

.button-games{
    margin-top: 50px;
    height: 32px;
    width: 100%;
    text-align: center;
    
}

.button-games button {
    border: none;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-family: "Helvetica Now Display", sans-serif;
    width: 71px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 4px solid #fcaf17;
}

.button-games button:hover{
    background-color: #fcaf17;
    border-radius: 4px;
    color: #0b0b0b;
    transform-origin: bottom;
    transition: 0.5s;
    transform: scaleX(1.01);
    width: 85px;
}

.download-apps{
    width: 1528px;
    height: 432x;
    margin-top: 70px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.apps-img img{
    height: 359px;
    width: 359px;
    border-radius: 10px;
}
.apps{
    display: grid;
    color: #ffffff;
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 30px;
    height: 39px;
    width: 1528px;
    padding-top: 100px;   
}

.apps-selector select{
    width: 359px;
    height: 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff underfiend;
    background-color: #0b0b0b;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Helvetica Now Display", sans-serif;
    outline: none;
}

.download-misce{
    width: 1528px;
    height: 359x;
    margin-top: 70px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap:50px;
    
    
}

.misce-img img{
    height: 359px;
    width: 359px;
    border-radius: 10px;
}
.misce{
    display: grid;
    color: #ffffff;
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 30px;
    height: 39px;
    width: 1528px;
    padding-top: 100px;   
}

.misce-text{
    width: 359px;
    height: 53px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff underfiend;
    background-color: #0b0b0b;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Helvetica Now Display", sans-serif;
    outline: none;
}

@import url(https://db.onlinewebfonts.com/c/0976a2619014c5855690b7509fab4c6e?family=Helvetica+Now+Display);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.foot{
    background-color: #000000;
    color:#e8e8e8;
    height: 473px;
    width: 100%;
    padding: 80px;
    grid-row-gap: 4rem;
    font-family: "Helvetica Now Display", sans-serif;
}

.foot1{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.foot1-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 640px;
    height: 41px;
    font-size: 20px;
    
}

.foot1-list li{
    list-style: none;
    display: inline-block;
    padding-right:2rem;
}
.foot1-list li img {
    width: 15px;
    height: 15px;
    margin-left: 10px
}
.foot1-select{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border: none;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.material-symbols-outlined{
    font-size: 20px;
}

select{
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    position: relative;
    width: 180px;
    height: 41px;
    padding: 10px;
    font-size: 15px;
    line-height: 17.25px;
    appearance: button;
}

option {
    display: block;
    background-color: #161616;
    color: #e8e8e8;
    border: 1px solid #161616;
    font-size: 15px;
    width: 400px;
    height: 34px;
    line-height: 20px;
}

option:hover {
    background-color: white;
}
.foot2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    font-weight:500;
    cursor: pointer;
}

.foot2-list li{
    display: inline-block;
    justify-content: flex-start;
    list-style: none;
    font-size: 15px;
    padding-right:1rem;
    opacity: 0.65;
    align-content: flex-start;
    flex-wrap: wrap;
}
.foot2-social i{
    padding-left: 2.2rem;
    font-size: 20px;
    color: #e8e8e8;
    cursor: pointer;
}

.foot3{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 15px;
    font-weight: 700;
    font-size: 15px;
}
.foot3-place li{
    display: inline-block;
    list-style: none;
    padding-right:1.5rem;
}

.foot1 a:hover{
    color: #FCAF17;
}

.foot2-list a:hover{
    color:#FCAF17;
    
}
.foot1-select li a:hover{
    border: 1px solid #e8e8e8;
}

.foot2-social i:hover{
    color: #FCAF17;
} 

@media screen and (max-width:1024px) {
    .foot2-social{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .foot{
        height: 521px;
    }
}

@media screen and (max-width:1097px) {
    .foot2-social{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .foot{
        height: 521px;
    }
}

@media screen and (max-width:768px) {
    .foot2-social{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: flex-start;
        padding-bottom: 180px;
    }

    .foot{
        height: 604px;
    }
    .foot2-list{
        width: 312px;
        height: 220px;
    }

    .foot2-list li{
        width: 312px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 20px;
    }
    .foot2-list li a {
        width: 312px;
        font-size: 13.5px;
    }
    .foot1-list li {
        padding-right: 1rem;
    }
}

@media screen and (max-width:604px) {
    .foot{
        height: 770px;
        width: 100%;
        padding: 64px 32px;
    }
    .foot1-list li{
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .foot1-list li a{
        height: 25px;
        width: 255px;
        display: block;
        font-size: 16px;
    }
    .foot1-list li img {
        width: 15px;
        height: 15px;
        margin-right: 110px;
    }

    .foot1-list select{
        font-size:12px;
        height: 37px;
        width: 180px;
    }
    .foot2{
        display: block;
    }

    .foot2-social{
        width: 511px;
        height: 24px;  
        font-size: 15px;
        display: inline-block;
        margin-top: 50px;
        margin-left: -40px;
        padding-bottom: 40px;
    }

    .foot2-social i {
        width: 24px;
        font-size: 15px;
    }

    .foot3{
        height: 89px;
        width: 511px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .foot3-name{
        padding-left:70px;
    }
    .foot3-code{
        padding-left: 80px;
    }
}

@media screen and (max-width:425px) {
    .foot{
        height: 769px;
        width: 100%;
    }

    .foot1-select .lang{
        font-size:12px;
        height: 37px;
        width: 109px;
    }
    .foot1-list li a{
        height: 25px;
        width: 160px;
        display: block;
        font-size: 16px;
        margin:0;
    }
    .foot3{
        height: 89px;
        width: 100%;
        display: grid;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .foot3-name{
        padding-left:20px;
    }
    .foot3-code{
        padding-left: 20px;
    }
}
