*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b0b0b;
    width: 100%;
}
#autoplayVideo{
    margin-bottom: 50px;
    margin-top: 40px;
}
.newswire-firstsection{
    width: 100%;
    /* height: 550px; */
    display: flex;
    cursor: pointer;
    margin-bottom: 100px;
    background-color: #000000;
   
}
.newswire-mainlogo{
    width: 70%;
}
.newswire-mainlogo img{
    width:100%;
    /* height: 550px;
    --aspect-ratio: 16/9; */
    background-size: cover;
    /* position: relative; */
}
.newswire-righttext{
    padding: 80px 40px;
    width: 30%;
    /* height: 550px; */
    display: flex;
    
}
.gametext{
    color: #e8e8e8;
    /* height: 24px; */
    /* width: 135px; */
    padding-right: 15px;
    font-size: var(--font-size-2);
    font-weight: 900;
    font-family: "Helvetica Now Text";
    
}
.newswire-righttext span{
    color: #e8e8e8;
    /* height: 24px; */
    /* width: 190px; */
    opacity: .65;
    font-weight: 400;
}
.Trailertext{
    /* width: 290px;
    height: 208px; */
    font: 40px "Helvetica Now Display Bold";
    color: #ffffff;
    margin-top: 15px;
    font-weight: bold;
}
/* .newswire-box {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(11, 11,11);

} */
.newswire-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
   
}

.newswire-card {
    margin-top: 40px;
    /* width: 100%; */
    /* width: 410px;
    height: 620px; */
    border: 1px solid #282828;
    border-radius: 8px;
    color: black;
    /* margin-inline: 15px; */
}

.newswire-grid img {
    width:100%;
    /* height: 390px; */
    border-top-right-radius:6px;
    border-top-left-radius:6px;
}

.newswire-cardbody {
    width: 100%;
    /* height: 179px; */
    padding: 40px 30px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 48px;
    width: 260px; */
}

.brand, .date {
    font-size: 15px;
    font-weight: 800;
    font-family: "Helvetica Now Text";
    color: #e8e8e8;
}

.date span {
    color: #e8e8e8;
    opacity: 0.65;
    font-weight: 400;
}

.descriptiontitle {
    font: 25px "AG_Helvetica Bold";
    /* width: 296px; */
    height: auto;
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.6rem;
    margin-top: 13px;
}
.area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin: 30px 30px;
    height: 32px;
}

.morestories button {
    border: none;
    position: relative;
    color: #ffffff;
    font: 20px "Helvetica Now Text";
    width: 121px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 4px solid #fcaf17;
}

.morestories button:hover{
    background-color: #fcaf17;
    border-radius: 4px;
    color: #0b0b0b;
    transform-origin: bottom;
    transition: 0.7s;
    transform: scaleX(1.01);
}
@media screen and (max-width:1125px) {
    .newswire-firstsection{
        display: flex;
        flex-direction: column;
    }
    .newswire-mainlogo{
        width: 100%;
    }
    .newswire-righttext{
        width: 100%;
    }
    
}
@media screen and (max-width:1024px) {
    .newswire-firstsection{
        display: flex;
        flex-direction: column;
    }
    .newswire-mainlogo{
        width: 100%;
    }
    .newswire-righttext{
        width: 100%;
    }
    .newswire-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width:767px) {
    .newswire-firstsection{
        display: flex;
        flex-direction: column;
    }
    .newswire-mainlogo{
        width: 100%;
    }
    .newswire-righttext{
        width: 100%;
    }
    .newswire-grid{
        grid-template-columns: repeat(1,1fr);
    }
    
}


