*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom:30px ;
}
.box{
    background-color:#ffff;
    width: 530px;
    height: 230px;
   margin-left:60px;
   font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
h2{
    color: #4d4d4d;
    padding: 20px;
}
p{
    padding-left: 20px;
    padding-bottom: 15px;
}
.all{
   color:#ebebeb;
   margin-left:220px ;
   font-size: 2.2ch;
}
.boxes{
    
}
.Day{
    width: 130px;
    margin-left: 20px;
    height:45px ;
    
}
.month{
    width: 180px;
    margin-left: 20px;
    height:45px 
}
.year{
    width: 130px;
    margin-left: 20px;
    height:45px  
}
.boxes option{
    color: #535353;
}

.all a{
    color:#c78a13 ;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    border: 1rem solid transparent;
}
.last a{
    color: #737373;

}
.last p{
    color: #737373;
}
