@import url(https://db.onlinewebfonts.com/c/0976a2619014c5855690b7509fab4c6e?family=Helvetica+Now+Display);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.foot{
    background-color: #000000;
    color:#e8e8e8;
    height: 473px;
    width: 100%;
    padding: 80px;
    grid-row-gap: 4rem;
    font-family: "Helvetica Now Display", sans-serif;
}

.foot1{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.foot1-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 41px;
    font-size: 20px;
    
}

.foot1-list ul {
    display: flex;
}
.foot1-list li{
    list-style: none;
    padding-right:2rem;
}
.foot1-list li img {
    width: 15px;
    height: 15px;
    margin-left: 10px
}
.foot1-select{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border: none;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.material-symbols-outlined{
    font-size: 20px;
}

select{
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    position: relative;
    height: 41px;
    padding: 10px;
    font-size: 15px;
    line-height: 17.25px;
    appearance: button;
}

option {
    display: block;
    background-color: #161616;
    color: #e8e8e8;
    border: 1px solid #161616;
    font-size: 15px;
    height: 34px;
    line-height: 20px;
}

option:nth-child(1):hover {
    background-position-y: white;
}
.foot2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    font-weight:500;
    cursor: pointer;
}

.foot2-list li{
    display: inline-block;
    justify-content: flex-start;
    list-style: none;
    font-size: 15px;
    padding-right:1rem;
    opacity: 0.65;
    align-content: flex-start;
    flex-wrap: wrap;
}
.foot2-social i{
    padding-left: 2.2rem;
    font-size: 20px;
    color: #e8e8e8;
    cursor: pointer;
}

.foot3{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-size: 15px;
    font-weight: 700;
    font-size: 15px;
}
.foot3-place li{
    display: inline-block;
    list-style: none;
    padding-right:1.5rem;
}

.foot1 a:hover{
    color: #FCAF17;
}

.foot2-list a:hover{
    color:#FCAF17;
    
}
.foot1-select li a:hover{
    border: 1px solid #e8e8e8;
}

.foot2-social i:hover{
    color: #FCAF17;
} 

@media screen and (max-width:1024px) {
    
    .foot2-social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .foot{
        height: 521px;
    }
}

@media screen and (max-width:1097px) {
    .foot2-social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .foot{
        height: 521px;
    }
}

@media screen and (max-width:768px) {
    .foot2-social{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: flex-start;
        padding-bottom: 180px;
    }
    .foot1-list ul {
        display: flex;
        flex-direction: column;
    }

    .foot{
        height: 604px;
    }
    .foot2-list{
        height: 220px;
    }

    .foot2-list li{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 20px;
    }
    .foot2-list li a {
        font-size: 13.5px;
    }
    .foot1-list li {
        padding-right: 1rem;
    }
}

@media screen and (max-width:604px) {
    .foot{
        height: 770px;
        width: 100%;
        padding: 64px 32px;
    }
    .foot1-list li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .foot1-list li a{
        height: 25px;
        display: block;
        font-size: 16px;
    }
    .foot1-list li img {
        width: 15px;
        height: 15px;
        margin-right: 110px;
    }

    .foot1-list select{
        font-size:12px;
        height: 37px;
    }
    .foot2{
        display: block;
    }

    .foot2-social{
        height: 24px;  
        font-size: 15px;
        display: inline-block;
        margin-top: 50px;
        margin-left: -40px;
        padding-bottom: 40px;
    }

    .foot2-social i {
        font-size: 15px;
    }

    .foot3{
        height: 89px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .foot3-name{
        padding-left:70px;
    }
    .foot3-code{
        padding-left: 80px;
    }
}

@media screen and (max-width:472px) {

    .foot1-select .lang{
        font-size:12px;
        height: 37px;
    }
    .foot1-list li a{
        height: 25px;
        display: block;
        font-size: 12px;
        margin:0;
    }
    .foot3{
        height: 89px;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .foot2-social{
        margin-top: 80px;
    }
}

@media screen and (max-width:425px) {
    .foot1-select .lang{
        font-size:12px;
        height: 37px;
    }
    .foot1-list li a{
        height: 25px;
        display: block;
        font-size: 16px;
        margin:0;
    }
    .foot-list ul {
        width:150px
    }

    .foot1-select select{
        font-size: 12px;
        margin-left: -150px;
    }

    .foot1-select select option{
        font-size: 12px;
        height: 12px;
        line-height: 12px;
    }
    .foot3{
        font-size: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .foot2-social{
        margin-top: 80px;
    }

    .foot3-place{
        padding-right: -160px;
    }

}

@media screen and (max-width:293px){
    .foot1-select{
        display: flex;
        padding-top: 80px;
        margin-left: -280px;
        justify-content: center;
        align-items: flex-end;
        
    }
    .foot1-select i{
        margin-right: 150px;
        padding-bottom: 11px;
    }
    .foot2{
        margin-top: 20px; 
    }
}