@import url(../home/assets/fonts/helvetica_now_display/stylesheet.css);
@import url(../home/assets/fonts/helvetica_now_text/stylesheet.css);

:root{
    --font-type1:'Helvetica Now Text';
    --font-type2:'Helvetica Now Display';
    --background-color1:black;
    --background-color2:#161616;
    --normal-text-color:white;
    --text-color2:#7d7d7d;
    --icon-background-color:#494d5266;
    --border-color1:#333333;
    --selector-color:#aaa9a9;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
}

/* Styling for the header */

header{
    width:100%;
    position:fixed;
    z-index: 2;
    top:0;
    background-color: var(--background-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--normal-text-color);
    padding:10px 5vw 10px 5vw;
    font-family: var(--font-type2),sans-serif;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color1);
}

#store-header-left{
    display: flex;
    gap: 2vw;
}

#store-logo{
    display: flex;
    gap:1rem;
    align-items: center;
}

.show-on-smaller-screen{
    display: none;
}

#store-logo img{
    width:52px;
}

#store-logo img:hover{
    cursor:pointer;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    height: 100%;
    align-items: center;
}

nav ul:hover{
    cursor: pointer;
}

nav ul li{
    display: flex;
    align-items: center;
    gap:5px;
    height: 100%;
}

nav ul li i{
    font-size: 0.5rem;
    margin-top: 2px;
}

#store-header-right{
    display: flex;
    gap: 2rem;
    height: 52px;
    align-items: center;
}

form{
    background-color: var(--background-color2);
    display: flex;
    height: 100%;
    border-radius: 50px;
    border: 1px solid var(--border-color1);
    width:20vw;
    align-items: center;
    gap:1rem;
}

form label{
    margin-left: 2rem;
}

form input{
    background-color: transparent;
    outline: none;
    border: none;
    height: 50%;
    width:80%;
}

form input::placeholder{
    color: #595d63;
    font-family: var(--font-type1),sans-serif;
    font-weight: bold;
}

#store-header-right span ,#store-header-right p{
    cursor: pointer;
}

/* Styling for the hero section */

#store-hero-section{
    margin-top: calc(52px + 20px);
    background-color: var(--background-color1);
    position: relative;
    display: flex;
    /* height:calc(100vh - 72px); */
    color: var(--normal-text-color);
}

.store-hero-icon{
    width:40px;
    height: 60px;
    background-color: var(--icon-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color1);
    position: absolute;
}

#store-hero-icon-left{
    top:50%;
    left:0.5rem;
}

#store-hero-icon-right{
    top:50%;
    right:0.5rem;
}

.store-hero-icon i{
    font-size: 1rem;
    color: var(--normal-text-color);
}

#store-hero-section-desc{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 0 5rem 0 5rem;
}

#store-hero-section-desc h1{
    font-family: var(--font-type2),sans-serif;
    font-size: 1.5rem;
}

#store-hero-section-desc p{
    font-family: var(--font-type1),sans-serif;
    color: var(--text-color2);
    font-size: 1rem;
}

#store-hero-section-desc button{
    align-self: flex-start;
    width:45%;
    padding: 1rem;
    border-radius: 10px;
    border:none;
    font-family: var(--font-type2),sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

#store-hero-section-selectors{
    position: absolute;
    display: flex;
    width: 40%;
    z-index: 1;
    gap: 3vw;
    right: 20%;
    bottom:10px;
}

#store-hero-section-selectors div{
    width:10%;
    height: 4px;
    background-color: var(--selector-color);
    border-radius: 10px;
}

#store-hero-section-selectors div:hover{
    cursor: pointer;
}

#store-hero-img{
    width:65%;
}

#store-hero-img img{
    width: 100%;
    height:650px;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width:1024px) {
    .show-on-smaller-screen{
        display: initial;
    }

    .hidden{
        display: none;
    }

    form{
        width: unset;
        background-color: transparent;
    }
}