:root{
    font-family: '-apple-system';
    --button-color1:#fcaf17;
    --button-color:#e19808;
   --background-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
    
}
html{
    overflow-x:hidden;
}

body{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
section{
    margin-top: 2rem;
}

p{
   
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.9rem;
}

.getlauncher_rightimage img{
    width: 880px;
    height: 500px;
    display: flex;
    
}

.getlauncher_leftimage{
   padding-left: 10rem;
   padding-right: 2rem;
   
}
.getlauncher_button{
    padding-bottom: 2rem;

}
.getlauncher_button button{
width: 250px;
height: 50px;
color: black;
background-color:var(--button-color1);
border-radius: 5px;
border: 1px solid transparent;
font-size: 1rem;
font-weight: bold;
cursor: pointer;

}
.getlauncher_button button:hover{
    background-color: var(--button-color);
    border: 1px solid #e8e8e8;
}

.getlauncher_feature{
    border-top: 1px solid gray;
    border-bottom: 1px solid grey;
    
}
.getlauncher_feature ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.getlauncher_feature ul li
{
    display: flex;
    align-items: center;
    gap:15px;
} 
.getlauncher_feature ul li i{
    font-size: 1rem;
}

.getlauncher_feature ul li p{
    font-size: 1rem;
    display: flex;
    line-height: 1rem;
    
}

.getlauncher_bottom{
    display: flex;
    position:absolute;
    align-items: right;
    justify-content: flex-end;
    
    
}
.getlauncher_subcontainer{
    display:flex
}
.getlauncher_Bottom-Container{
    position: relative; 
    
    
}

.getlauncher_abc{
    
    display: flex;
    gap:1rem;
    background-color:var(--button-color1);
    /* width: 36rem; */
    width: 100%;
    align-items: flex-bottom;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-top: 20px;
   
}
.getlauncher_leftcontainer{
    margin-bottom: 20px;
}
.getlauncher_text{
   padding-top: 20px;
}
.getlauncher_image{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.hide_image{
    display:none;
}
/* below this section mediaquery section starts */
@media only screen and (max-width: 1023px) {

    .getlauncher_leftimage{
        padding-left: 1.5rem;
        padding-right: 0rem;
        
     }
    .getlauncher_rightimage{
        display:none;
    }
    .hide_image{
        display: initial;
        width: 100%;
        padding-left:0%;
        padding-right:0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .hide_image img{
        /* height: 100%; */
        width: 100%;
    }
    .getlauncher_feature ul{
        justify-content: flex-start;
        gap: 2rem;
    }
    .getlauncher_abc{
        width:60% ;
    }
}
@media only screen and (max-width: 320px) {
    .getlauncher_abc{
        width:100% ;
    } 
    .hide_image{
        width: 100%;
    }
}
